.card {
  // font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 44em;
  max-width: 1300px;
  border: 0.05em solid black;
  border-radius: 5px;
  margin: 0 0.5em;
  padding: 1em;
  // overflow: hidden;
  & > * {
    flex: 1 100%;
  }

  .refferences {
    height: 4.45em;
    // background-color: red;
    margin: 0 auto;
    a {
      background-color: blue;
      color: white;
      display: inline-block;
      font-size: 1.5em;
      line-height: 1.25;
      padding: 0.86em;
      width: 50%;
      max-width: 175px;
      text-decoration: none;
    }
    .github {
      background-color: grey;
      float: left;
    }
    .www {
      background-color: green;
      float: right;
    }
  }

  .image {
    height: 20em;
    img {
      max-height: 100%;
    }
  }
  .description {
    height: 16.25em;
    font-size: 1em;
    line-height: 1.25;
    overflow: hidden;
    h2 {
      font-size: 2em;
      margin: 0.625em auto;
    }
    p {
      margin: 0;
    }
  }
}

@media all and (min-width: 768px) {
  .card {
    height: 19em;

    .refferences {
      height: 4.45em;
      a {
        // padding: 0;
      }
    }

    .image {
      flex-basis: 40%;
      height: 12em;
    }
    .description {
      text-align: left;
      flex-basis: 60%;
      height: 11.25em;
    }
  }
}

@media all and (min-width: 1200px) {
  .card {
    height: 16em;
    .refferences {
      height: 2.9em;
      a {
        font-size: 1em;
      }
      margin-top: 1em;
    }
    .image {
      height: 10.1em;
    }
    .description {
      height: 10.1em;
    }
  }
}
