// .card {
//   // font-size: 1em;
//   // background-color: #292A56;
//   // background-color: #B6B6B6;
//   display: flex;
//   flex-flow: row wrap;
//   text-align: center;
//   height: 46em;
//   max-width: 1300px;
//   // border: .25em solid #34A6C9;
//   border-radius: 5px;
//   margin: 0 0.5em;
//   padding: 1em;
//   // overflow: hidden;
//   width: 100%;
//   opacity: .9;
//   color: black;
//   & > * {
//     flex: 1 100%;
//   }
//
//   .refferences {
//     height: 4.45em;
//     // background-color: red;
//     // float: right;
//     // margin: 0 auto;
//     // display: flex;
//     // justify-content: flex-end;
//     a {
//       background-color: blue;
//       color: white;
//       display: inline-block;
//       font-size: 1.5em;
//       line-height: 1.25;
//       padding: 0.86em;
//       width: 50%;
//       // max-width: 175px;
//       text-decoration: none;
//     }
//     .github {
//       background-color: #25292E;
//       &:hover {
//         color: purple;
//         transition: color ease .5s;
//       }
//     }
//     .www {
//       background-color: #34A6C9;
//       &:hover {
//         color: purple;
//         transition: color ease .5s;
//       }
//     }
//   }
//
//   .image {
//     height: 20em;
//     img {
//       max-height: 100%;
//     }
//     h2 {
//       font-size: 2em;
//       margin: 0 auto;
//     }
//   }
//   .description {
//     height: 16.25em;
//     font-size: 1em;
//     line-height: 1.25;
//     overflow: hidden;
//     // color: #ADF987;
//     p {
//       margin: 0;
//       padding: 0;
//     }
//   }
// }
//
// @media all and (min-width: 768px) {
//   .card {
//     height: 21em;
//
//     .refferences {
//       height: 4.45em;
//       a {
//         // padding: 0;
//       }
//     }
//
//     .image {
//       // flex-basis: 40%;
//       height: 12em;
//       img {
//         max-width: 100%;
//       }
//     }
//     .description {
//       text-align: left;
//       // flex-basis: 60%;
//       height: 11.25em;
//     }
//   }
// }
//
// @media all and (min-width: 1200px) {
//   .card {
//     height: 18em;
//     .refferences {
//       height: 2.9em;
//       a {
//         font-size: 1em;
//       }
//       margin-top: 1em;
//     }
//     .image {
//       height: 10.1em;
//     }
//     .description {
//       height: 10.1em;
//     }
//   }
// }


.card {
  width: 90%;
  .image {
    position: relative;
    width: 80%;
    margin: auto;
    &:hover {
      .links {
        opacity: 1;
      }
    }
    .main {
      color: white;
      text-align: center;
      width: 100%;
      padding: 3em 0;

      // background: linear-gradient(90deg, rgba(121,92,232,0.7), rgba(58,186,245,0.7)), center / cover no-repeat url("https://res.cloudinary.com/db20zgpmk/image/upload/v1520774511/sample.jpg");
    }
    .links {
      background: #262A30;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      opacity: 0;
      transition: opacity .8s;
      a {
        display: block;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: background .4s;
        &:hover {
          background: #D3D3D3;
        }
        &.github, &.www {
          font-size: 2em;
        }
        &.github {
          flex-basis: 50%;
        }
        &.www {
          flex-basis: 50%;
          color: deepskyblue;

        }
      }
    }
  }
  .description {
    text-align: center;
    p {
      color: #B8B6B6;
    }
  }
}
