.card {
  width: 90%;
  .image {
    position: relative;
    width: 80%;
    margin: auto;
    &:hover {
      .links {
        opacity: 1;
      }
    }
    .main {
      color: white;
      text-align: center;
      width: 100%;
      padding: 3em 0;
    }
    .links {
      background: #262A30;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      opacity: 0;
      transition: opacity .8s;
      a {
        display: block;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: background .4s;
        &:hover {
          background: #D3D3D3;
        }
        &.github, &.www {
          font-size: 2em;
        }
        &.github {
          flex-basis: 50%;
        }
        &.www {
          flex-basis: 50%;
          color: deepskyblue;

        }
      }
    }
  }
  .description {
    text-align: center;
    p {
      color: #B8B6B6;
    }
  }
}
