.contacts {
  opacity: .8;
  font-size: 3em;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 2em 1em;
  position: fixed;
  animation-name: aniContainer;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  // height: 13em;
  .github, .mail {
    position: fixed;
    padding: .2em;
    border-radius: 5em;
  }
  .github {
    top: -8em;
    right: 3.5em;
    background: yellow;
    animation-name: aniGit;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .mail {
    top: -8em;
    right: 2em;
    background: yellow;
    animation-name: aniMail;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes aniGit {
    0% { top: -10em; }
    40% { top: 7em; }
    45% { top: 6em; }
    50% { top: 7em; }
    55% { top: 6.5em; }
    60% { top: 7em; }
    70% { top: 7em; right: 3.5em; }
    100% { top: 1em; right: .3em; }
  }
  @keyframes aniMail {
    0% { top: -10em; }
    40% { top: 7em; }
    45% { top: 6em; }
    50% { top: 7em; }
    55% { top: 6.5em; }
    60% { top: 7em; }
    70% { top: 7em; right: 2em; }
    100% { top: 2.7em; right: .3em; }
  }
  @keyframes aniContainer {
    0% { border: none; background: none; }
    79% { border: none; background: none; }
    80% {
      background: none;
      border-top: .5em solid blue;
      border-bottom: none;
      border-left: none;
    }
    90% {
      background: blue;
      border-top: .5em solid blue;
      border-bottom: .5em solid blue;
      border-left: none; }
    100% {
      background: blue;
      border-top: .5em solid blue;
      border-bottom: .5em solid blue;
      border-left: 1em solid #e7eeff;
    }
  }
}
