@mixin background-fixed($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
}

.home {
  // @include background-fixed('../img/home.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  article {
    width: 50%;
    text-align: center;
    color: #7A858B;
    margin-left: 3%;
    text-align: justify;
    h2 {
      text-align: left
    }
  }

  img {
    display: block;
    // margin: 0 auto;
    margin-left: 3%;
    width: 20%;
    opacity: .7;
    border-radius: 50px;
  }
}
