.home {
  height: 100vh;
  background: #262A30;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h2 {
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .contacts {
    position: absolute;
    top: 0;
    right: 1em;
    ul {
      list-style: none;
      display: flex;

      li {
        padding: 0 .3em;
        a {
          font-size: 2em;
          text-decoration: none;
          color: #ACADAF;
          &:hover {
            color: #FDD66E;
          }
        }
      }
    }
  }
}
