.projects {
  color: #EBC2A5;
  min-height: 100vh;
  background: #ffffff;
  padding: 5em 0;
  text-align: center;
  .title {
    color: #262A30;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  // display: flex;
  // align-items: center;
  // p {
  //   margin: 0;
  //   padding: 2em;
  // }
  a:visited {
    color: #272A30;
  }
}

@media all and (min-width: 1200px) {
  .projects {
    text-align: left;
    .title {
      margin-left: 5%;
    }
  }
}
